html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1837px 410px #fff, 1293px 955px #fff, 1198px 353px #fff,
    205px 1811px #fff, 228px 483px #fff, 126px 1385px #fff, 25px 66px #fff,
    1751px 855px #fff, 258px 171px #fff, 1800px 1904px #fff, 1138px 805px #fff,
    548px 1965px #fff, 1666px 877px #fff, 842px 732px #fff, 1813px 98px #fff,
    1913px 161px #fff, 1790px 326px #fff, 682px 1187px #fff, 749px 1066px #fff,
    628px 685px #fff, 1090px 41px #fff, 886px 38px #fff, 1362px 884px #fff,
    977px 1346px #fff, 1527px 751px #fff, 1254px 1905px #fff, 1362px 598px #fff,
    1528px 184px #fff, 1144px 667px #fff, 687px 638px #fff, 474px 606px #fff,
    1951px 1291px #fff, 1541px 139px #fff, 23px 972px #fff, 1111px 581px #fff,
    42px 1709px #fff, 924px 1289px #fff, 1536px 475px #fff, 1138px 1686px #fff,
    1031px 1277px #fff, 1739px 216px #fff, 1975px 1618px #fff,
    1374px 1559px #fff, 531px 1393px #fff, 1720px 1081px #fff, 1879px 62px #fff,
    791px 1084px #fff, 203px 953px #fff, 643px 594px #fff, 1126px 973px #fff,
    1808px 1899px #fff, 1999px 309px #fff, 1889px 866px #fff, 1630px 1644px #fff,
    502px 1816px #fff, 651px 30px #fff, 153px 1420px #fff, 358px 791px #fff,
    1586px 1624px #fff, 1420px 1799px #fff, 1194px 1913px #fff,
    1462px 1586px #fff, 1751px 682px #fff, 450px 336px #fff, 695px 595px #fff,
    1670px 497px #fff, 1141px 120px #fff, 1213px 149px #fff, 702px 478px #fff,
    1899px 1975px #fff, 992px 1162px #fff, 1052px 523px #fff, 1514px 1245px #fff,
    1420px 1666px #fff, 1614px 1942px #fff, 284px 900px #fff, 1332px 1784px #fff,
    186px 394px #fff, 1672px 229px #fff, 317px 569px #fff, 852px 1882px #fff,
    1424px 1289px #fff, 1767px 654px #fff, 921px 1739px #fff, 866px 1020px #fff,
    1385px 318px #fff, 1755px 1359px #fff, 128px 867px #fff, 1416px 698px #fff,
    1916px 1660px #fff, 1492px 973px #fff, 522px 259px #fff, 61px 805px #fff,
    1127px 163px #fff, 1307px 1345px #fff, 1326px 1657px #fff, 1240px 677px #fff,
    1930px 404px #fff, 1449px 404px #fff, 552px 731px #fff, 1321px 1303px #fff,
    1936px 1272px #fff, 1385px 88px #fff, 944px 1611px #fff, 412px 1223px #fff,
    352px 1074px #fff, 31px 1049px #fff, 1687px 975px #fff, 1441px 1735px #fff,
    1482px 1239px #fff, 724px 1328px #fff, 267px 669px #fff, 1774px 103px #fff,
    399px 1291px #fff, 934px 1469px #fff, 690px 1673px #fff, 1352px 258px #fff,
    980px 1497px #fff, 1641px 1439px #fff, 1980px 804px #fff, 1761px 1612px #fff,
    1901px 139px #fff, 772px 1009px #fff, 1376px 44px #fff, 30px 1816px #fff,
    1577px 7px #fff, 578px 1517px #fff, 1103px 853px #fff, 1217px 991px #fff,
    1149px 1374px #fff, 1173px 1144px #fff, 1690px 1803px #fff,
    1579px 1994px #fff, 808px 1454px #fff, 564px 267px #fff, 1401px 1243px #fff,
    724px 231px #fff, 794px 1467px #fff, 551px 1388px #fff, 1846px 1448px #fff,
    575px 39px #fff, 1157px 1181px #fff, 1031px 456px #fff, 1027px 161px #fff,
    702px 1922px #fff, 1981px 1509px #fff, 129px 1453px #fff, 1275px 1647px #fff,
    1383px 316px #fff, 1707px 1672px #fff, 734px 662px #fff, 1339px 79px #fff,
    1996px 1167px #fff, 1193px 1843px #fff, 585px 980px #fff, 661px 253px #fff,
    1784px 1445px #fff, 1407px 75px #fff, 1822px 44px #fff, 624px 1086px #fff,
    1908px 462px #fff, 335px 98px #fff, 185px 592px #fff, 880px 344px #fff,
    1241px 774px #fff, 758px 383px #fff, 646px 1752px #fff, 1249px 1012px #fff,
    1687px 1797px #fff, 384px 667px #fff, 1363px 827px #fff, 1043px 132px #fff,
    570px 171px #fff, 1684px 1058px #fff, 1790px 158px #fff, 539px 1915px #fff,
    1959px 483px #fff, 426px 1056px #fff, 538px 1356px #fff, 80px 667px #fff,
    1561px 180px #fff, 957px 1584px #fff, 1825px 969px #fff, 1613px 1744px #fff,
    662px 1453px #fff, 1965px 1450px #fff, 1198px 598px #fff, 1985px 878px #fff,
    860px 357px #fff, 686px 1757px #fff, 1405px 47px #fff, 1750px 1274px #fff,
    430px 874px #fff, 806px 683px #fff, 764px 856px #fff, 1510px 1279px #fff,
    1619px 1089px #fff, 1240px 943px #fff, 421px 417px #fff, 262px 58px #fff,
    243px 263px #fff, 1731px 69px #fff, 1032px 669px #fff, 1616px 1815px #fff,
    619px 119px #fff, 922px 498px #fff, 665px 1161px #fff, 1764px 1211px #fff,
    583px 1822px #fff, 908px 1511px #fff, 1892px 404px #fff, 1219px 226px #fff,
    929px 514px #fff, 1007px 1712px #fff, 1458px 567px #fff, 190px 506px #fff,
    974px 1724px #fff, 791px 520px #fff, 1449px 305px #fff, 683px 97px #fff,
    124px 810px #fff, 392px 921px #fff, 273px 963px #fff, 684px 1512px #fff,
    1027px 1108px #fff, 1640px 363px #fff, 759px 1410px #fff, 529px 947px #fff,
    1116px 1160px #fff, 8px 1155px #fff, 614px 536px #fff, 25px 963px #fff,
    1468px 1251px #fff, 638px 307px #fff, 913px 1264px #fff, 1592px 16px #fff,
    1814px 1875px #fff, 718px 1973px #fff, 1593px 260px #fff, 801px 1700px #fff,
    755px 111px #fff, 1610px 1915px #fff, 60px 122px #fff, 1671px 913px #fff,
    1190px 26px #fff, 1763px 1173px #fff, 43px 11px #fff, 869px 825px #fff,
    1637px 1898px #fff, 654px 1688px #fff, 396px 697px #fff, 698px 105px #fff,
    1382px 1151px #fff, 1427px 1959px #fff, 60px 597px #fff, 660px 1545px #fff,
    1861px 1615px #fff, 1803px 341px #fff, 1279px 52px #fff, 708px 601px #fff,
    435px 1487px #fff, 656px 13px #fff, 370px 1964px #fff, 260px 1221px #fff,
    345px 1702px #fff, 443px 956px #fff, 1585px 1779px #fff, 697px 1872px #fff,
    887px 1786px #fff, 487px 1418px #fff, 1261px 390px #fff, 984px 663px #fff,
    695px 1343px #fff, 573px 998px #fff, 1907px 1219px #fff, 1731px 668px #fff,
    597px 1714px #fff, 1833px 346px #fff, 620px 1930px #fff, 1168px 1041px #fff,
    1080px 759px #fff, 1539px 314px #fff, 1984px 1540px #fff, 1325px 800px #fff,
    229px 1971px #fff, 1642px 390px #fff, 1970px 567px #fff, 1747px 942px #fff,
    1283px 1966px #fff, 1321px 1565px #fff, 588px 1924px #fff, 1452px 808px #fff,
    144px 191px #fff, 427px 892px #fff, 516px 770px #fff, 241px 1472px #fff,
    115px 210px #fff, 1238px 874px #fff, 898px 1338px #fff, 1921px 34px #fff,
    140px 1967px #fff, 532px 1550px #fff, 1924px 977px #fff, 1259px 1685px #fff,
    1956px 1090px #fff, 1769px 1387px #fff, 579px 752px #fff, 1113px 89px #fff,
    816px 54px #fff, 76px 1932px #fff, 194px 1464px #fff, 1604px 1198px #fff,
    1427px 878px #fff, 357px 912px #fff, 1307px 348px #fff, 1014px 1899px #fff,
    887px 1657px #fff, 1642px 966px #fff, 41px 1042px #fff, 1911px 909px #fff,
    61px 1438px #fff, 360px 1281px #fff, 1784px 1119px #fff, 1107px 879px #fff,
    1505px 1682px #fff, 1910px 1053px #fff, 925px 1452px #fff, 121px 1129px #fff,
    834px 1860px #fff, 815px 113px #fff, 90px 1013px #fff, 1215px 1917px #fff,
    629px 1263px #fff, 1107px 1641px #fff, 1764px 1017px #fff, 639px 235px #fff,
    1527px 12px #fff, 1456px 64px #fff, 1127px 721px #fff, 1046px 1684px #fff,
    539px 856px #fff, 1553px 190px #fff, 1075px 1446px #fff, 203px 839px #fff,
    412px 745px #fff, 961px 703px #fff, 1px 1711px #fff, 589px 1320px #fff,
    1999px 1465px #fff, 1381px 522px #fff, 1392px 1394px #fff, 933px 1763px #fff,
    1385px 543px #fff, 672px 10px #fff, 1662px 602px #fff, 1632px 870px #fff,
    1657px 1433px #fff, 129px 386px #fff, 76px 389px #fff, 44px 1441px #fff,
    1522px 372px #fff, 1301px 1948px #fff, 1007px 1774px #fff, 616px 468px #fff,
    1861px 642px #fff, 1286px 642px #fff, 1985px 1651px #fff, 860px 1377px #fff,
    1618px 1497px #fff, 202px 347px #fff, 1034px 980px #fff, 142px 432px #fff,
    344px 381px #fff, 1233px 1392px #fff, 1543px 1346px #fff, 340px 219px #fff,
    1833px 1921px #fff, 1894px 373px #fff, 1007px 151px #fff, 1213px 1688px #fff,
    1286px 1065px #fff, 1662px 1300px #fff, 1721px 1270px #fff, 729px 319px #fff,
    62px 1989px #fff, 1918px 754px #fff, 598px 12px #fff, 1666px 1375px #fff,
    880px 1300px #fff, 709px 1092px #fff, 1623px 61px #fff, 1747px 1803px #fff,
    1829px 397px #fff, 733px 1280px #fff, 585px 1394px #fff, 1287px 1623px #fff,
    60px 1576px #fff, 1768px 816px #fff, 1914px 1655px #fff, 1878px 1425px #fff,
    929px 598px #fff, 949px 1455px #fff, 146px 530px #fff, 1673px 1379px #fff,
    1012px 1225px #fff, 692px 1910px #fff, 583px 1442px #fff, 456px 554px #fff,
    1064px 999px #fff, 1090px 1418px #fff, 1229px 984px #fff, 1906px 1333px #fff,
    1979px 162px #fff, 129px 215px #fff, 1398px 505px #fff, 876px 1142px #fff,
    1767px 965px #fff, 243px 796px #fff, 1137px 1160px #fff, 898px 858px #fff,
    1844px 965px #fff, 420px 304px #fff, 1809px 422px #fff, 1694px 1102px #fff,
    807px 1772px #fff, 1573px 357px #fff, 1575px 330px #fff, 638px 1307px #fff,
    210px 210px #fff, 69px 1889px #fff, 528px 577px #fff, 349px 1358px #fff,
    655px 312px #fff, 273px 318px #fff, 1380px 162px #fff, 1506px 1017px #fff,
    1754px 1848px #fff, 790px 261px #fff, 1855px 924px #fff, 1832px 1948px #fff,
    138px 1934px #fff, 417px 1486px #fff, 11px 1453px #fff, 850px 1064px #fff,
    1906px 1693px #fff, 763px 1187px #fff, 935px 1886px #fff, 815px 175px #fff,
    1544px 317px #fff, 31px 719px #fff, 1548px 1948px #fff, 1772px 168px #fff,
    987px 1358px #fff, 1596px 1198px #fff, 1828px 388px #fff, 137px 1272px #fff,
    1655px 619px #fff, 761px 895px #fff, 1029px 864px #fff, 828px 2px #fff,
    844px 1370px #fff, 1287px 82px #fff, 1902px 159px #fff, 111px 1001px #fff,
    1334px 1088px #fff, 1383px 1922px #fff, 942px 825px #fff, 351px 533px #fff,
    1419px 28px #fff, 1939px 1637px #fff, 715px 173px #fff, 829px 326px #fff,
    1290px 1672px #fff, 1459px 1423px #fff, 1804px 657px #fff, 1450px 396px #fff,
    1529px 107px #fff, 641px 1183px #fff, 294px 296px #fff, 908px 737px #fff,
    377px 1045px #fff, 694px 1006px #fff, 1153px 762px #fff, 1282px 1193px #fff,
    402px 1731px #fff, 1858px 665px #fff, 1286px 1134px #fff, 891px 1932px #fff,
    1434px 871px #fff, 926px 1022px #fff, 1978px 1301px #fff, 1358px 1955px #fff,
    1400px 1841px #fff, 1795px 601px #fff, 1434px 961px #fff, 433px 762px #fff,
    987px 179px #fff, 1010px 800px #fff, 1393px 1406px #fff, 1528px 1653px #fff,
    1909px 1695px #fff, 195px 1520px #fff, 772px 1792px #fff, 1947px 1181px #fff,
    358px 1896px #fff, 1856px 1189px #fff, 1449px 1801px #fff, 553px 1519px #fff,
    1036px 480px #fff, 530px 1713px #fff, 768px 971px #fff, 1763px 258px #fff,
    1175px 637px #fff, 1408px 1828px #fff, 857px 1336px #fff, 223px 1611px #fff,
    1081px 1088px #fff, 1757px 1656px #fff, 1185px 528px #fff, 358px 1882px #fff,
    591px 928px #fff, 1423px 1796px #fff, 41px 1647px #fff, 1220px 265px #fff,
    33px 634px #fff, 1482px 1231px #fff, 1886px 557px #fff, 51px 175px #fff,
    562px 817px #fff, 196px 186px #fff, 31px 1631px #fff, 2000px 1352px #fff,
    904px 400px #fff, 352px 1058px #fff, 1432px 1448px #fff, 229px 1284px #fff,
    1703px 403px #fff, 1476px 1916px #fff, 1787px 1904px #fff,
    1286px 1234px #fff, 506px 512px #fff, 1474px 1527px #fff, 657px 558px #fff,
    225px 1284px #fff, 581px 466px #fff, 1041px 1905px #fff, 1746px 34px #fff,
    1857px 598px #fff, 1955px 400px #fff, 1169px 1411px #fff, 1096px 1492px #fff,
    1996px 1578px #fff, 972px 1049px #fff, 278px 1707px #fff, 190px 10px #fff,
    223px 868px #fff, 197px 544px #fff, 1425px 1526px #fff, 819px 1423px #fff,
    1800px 126px #fff, 161px 1069px #fff, 243px 356px #fff, 781px 921px #fff,
    162px 1468px #fff, 1916px 1930px #fff, 1502px 1690px #fff, 273px 1497px #fff,
    983px 1351px #fff, 11px 1371px #fff, 1273px 825px #fff, 1833px 564px #fff,
    1757px 1707px #fff, 852px 1355px #fff, 1290px 290px #fff, 391px 1989px #fff,
    1594px 726px #fff, 162px 835px #fff, 582px 1829px #fff, 1007px 1101px #fff,
    1668px 1615px #fff, 1947px 1882px #fff, 585px 121px #fff, 336px 1995px #fff,
    162px 855px #fff, 1691px 707px #fff, 1032px 529px #fff, 737px 439px #fff,
    1276px 1775px #fff, 1044px 1638px #fff, 1049px 87px #fff, 881px 729px #fff,
    848px 1398px #fff, 940px 1766px #fff, 68px 279px #fff, 663px 380px #fff,
    1328px 626px #fff, 534px 9px #fff, 1606px 954px #fff, 1579px 1233px #fff,
    1715px 324px #fff, 1136px 1763px #fff, 234px 82px #fff, 828px 85px #fff,
    1111px 770px #fff, 1084px 716px #fff, 96px 446px #fff, 117px 1347px #fff,
    673px 287px #fff, 1133px 800px #fff, 653px 1703px #fff, 1161px 1807px #fff,
    187px 706px #fff, 18px 1124px #fff, 619px 1792px #fff, 1070px 1675px #fff,
    1564px 1781px #fff, 1281px 703px #fff, 133px 533px #fff, 1491px 1342px #fff,
    972px 1664px #fff, 1800px 1971px #fff, 1979px 787px #fff, 1869px 368px #fff,
    792px 1940px #fff, 78px 306px #fff, 1328px 603px #fff, 1220px 1586px #fff,
    1296px 803px #fff, 914px 1902px #fff, 277px 1308px #fff, 491px 1284px #fff,
    1934px 747px #fff, 959px 613px #fff, 1090px 542px #fff, 682px 954px #fff,
    1121px 572px #fff, 1908px 121px #fff, 113px 413px #fff, 1522px 959px #fff,
    693px 1700px #fff, 1222px 1431px #fff, 1021px 1429px #fff, 1657px 67px #fff,
    1818px 58px #fff, 487px 729px #fff, 1091px 911px #fff, 1036px 476px #fff,
    1348px 800px #fff, 465px 1986px #fff, 600px 233px #fff, 617px 950px #fff,
    1110px 1698px #fff, 913px 1714px #fff, 1539px 1408px #fff,
    1417px 1096px #fff, 1056px 1236px #fff, 183px 343px #fff, 448px 722px #fff,
    463px 783px #fff, 1896px 729px #fff, 1592px 1382px #fff, 1563px 1673px #fff,
    341px 1072px #fff, 702px 1058px #fff, 656px 788px #fff, 697px 519px #fff,
    1669px 1247px #fff, 1488px 1628px #fff, 1675px 1199px #fff,
    1144px 1297px #fff, 1111px 528px #fff, 1326px 1041px #fff, 142px 1975px #fff,
    1983px 1009px #fff, 1384px 1631px #fff, 1149px 1827px #fff,
    1632px 1555px #fff, 1459px 1017px #fff, 1684px 625px #fff, 153px 30px #fff,
    879px 249px #fff, 960px 1884px #fff, 478px 667px #fff, 1255px 1474px #fff,
    28px 1841px #fff, 663px 1270px #fff, 1482px 774px #fff, 1317px 1626px #fff,
    1821px 741px #fff, 449px 418px #fff, 1668px 1121px #fff, 157px 1998px #fff,
    1245px 1642px #fff, 1166px 291px #fff, 1810px 1514px #fff, 593px 1094px #fff,
    546px 457px #fff, 1742px 1627px #fff, 820px 282px #fff, 819px 1502px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1837px 410px #fff, 1293px 955px #fff, 1198px 353px #fff,
    205px 1811px #fff, 228px 483px #fff, 126px 1385px #fff, 25px 66px #fff,
    1751px 855px #fff, 258px 171px #fff, 1800px 1904px #fff, 1138px 805px #fff,
    548px 1965px #fff, 1666px 877px #fff, 842px 732px #fff, 1813px 98px #fff,
    1913px 161px #fff, 1790px 326px #fff, 682px 1187px #fff, 749px 1066px #fff,
    628px 685px #fff, 1090px 41px #fff, 886px 38px #fff, 1362px 884px #fff,
    977px 1346px #fff, 1527px 751px #fff, 1254px 1905px #fff, 1362px 598px #fff,
    1528px 184px #fff, 1144px 667px #fff, 687px 638px #fff, 474px 606px #fff,
    1951px 1291px #fff, 1541px 139px #fff, 23px 972px #fff, 1111px 581px #fff,
    42px 1709px #fff, 924px 1289px #fff, 1536px 475px #fff, 1138px 1686px #fff,
    1031px 1277px #fff, 1739px 216px #fff, 1975px 1618px #fff,
    1374px 1559px #fff, 531px 1393px #fff, 1720px 1081px #fff, 1879px 62px #fff,
    791px 1084px #fff, 203px 953px #fff, 643px 594px #fff, 1126px 973px #fff,
    1808px 1899px #fff, 1999px 309px #fff, 1889px 866px #fff, 1630px 1644px #fff,
    502px 1816px #fff, 651px 30px #fff, 153px 1420px #fff, 358px 791px #fff,
    1586px 1624px #fff, 1420px 1799px #fff, 1194px 1913px #fff,
    1462px 1586px #fff, 1751px 682px #fff, 450px 336px #fff, 695px 595px #fff,
    1670px 497px #fff, 1141px 120px #fff, 1213px 149px #fff, 702px 478px #fff,
    1899px 1975px #fff, 992px 1162px #fff, 1052px 523px #fff, 1514px 1245px #fff,
    1420px 1666px #fff, 1614px 1942px #fff, 284px 900px #fff, 1332px 1784px #fff,
    186px 394px #fff, 1672px 229px #fff, 317px 569px #fff, 852px 1882px #fff,
    1424px 1289px #fff, 1767px 654px #fff, 921px 1739px #fff, 866px 1020px #fff,
    1385px 318px #fff, 1755px 1359px #fff, 128px 867px #fff, 1416px 698px #fff,
    1916px 1660px #fff, 1492px 973px #fff, 522px 259px #fff, 61px 805px #fff,
    1127px 163px #fff, 1307px 1345px #fff, 1326px 1657px #fff, 1240px 677px #fff,
    1930px 404px #fff, 1449px 404px #fff, 552px 731px #fff, 1321px 1303px #fff,
    1936px 1272px #fff, 1385px 88px #fff, 944px 1611px #fff, 412px 1223px #fff,
    352px 1074px #fff, 31px 1049px #fff, 1687px 975px #fff, 1441px 1735px #fff,
    1482px 1239px #fff, 724px 1328px #fff, 267px 669px #fff, 1774px 103px #fff,
    399px 1291px #fff, 934px 1469px #fff, 690px 1673px #fff, 1352px 258px #fff,
    980px 1497px #fff, 1641px 1439px #fff, 1980px 804px #fff, 1761px 1612px #fff,
    1901px 139px #fff, 772px 1009px #fff, 1376px 44px #fff, 30px 1816px #fff,
    1577px 7px #fff, 578px 1517px #fff, 1103px 853px #fff, 1217px 991px #fff,
    1149px 1374px #fff, 1173px 1144px #fff, 1690px 1803px #fff,
    1579px 1994px #fff, 808px 1454px #fff, 564px 267px #fff, 1401px 1243px #fff,
    724px 231px #fff, 794px 1467px #fff, 551px 1388px #fff, 1846px 1448px #fff,
    575px 39px #fff, 1157px 1181px #fff, 1031px 456px #fff, 1027px 161px #fff,
    702px 1922px #fff, 1981px 1509px #fff, 129px 1453px #fff, 1275px 1647px #fff,
    1383px 316px #fff, 1707px 1672px #fff, 734px 662px #fff, 1339px 79px #fff,
    1996px 1167px #fff, 1193px 1843px #fff, 585px 980px #fff, 661px 253px #fff,
    1784px 1445px #fff, 1407px 75px #fff, 1822px 44px #fff, 624px 1086px #fff,
    1908px 462px #fff, 335px 98px #fff, 185px 592px #fff, 880px 344px #fff,
    1241px 774px #fff, 758px 383px #fff, 646px 1752px #fff, 1249px 1012px #fff,
    1687px 1797px #fff, 384px 667px #fff, 1363px 827px #fff, 1043px 132px #fff,
    570px 171px #fff, 1684px 1058px #fff, 1790px 158px #fff, 539px 1915px #fff,
    1959px 483px #fff, 426px 1056px #fff, 538px 1356px #fff, 80px 667px #fff,
    1561px 180px #fff, 957px 1584px #fff, 1825px 969px #fff, 1613px 1744px #fff,
    662px 1453px #fff, 1965px 1450px #fff, 1198px 598px #fff, 1985px 878px #fff,
    860px 357px #fff, 686px 1757px #fff, 1405px 47px #fff, 1750px 1274px #fff,
    430px 874px #fff, 806px 683px #fff, 764px 856px #fff, 1510px 1279px #fff,
    1619px 1089px #fff, 1240px 943px #fff, 421px 417px #fff, 262px 58px #fff,
    243px 263px #fff, 1731px 69px #fff, 1032px 669px #fff, 1616px 1815px #fff,
    619px 119px #fff, 922px 498px #fff, 665px 1161px #fff, 1764px 1211px #fff,
    583px 1822px #fff, 908px 1511px #fff, 1892px 404px #fff, 1219px 226px #fff,
    929px 514px #fff, 1007px 1712px #fff, 1458px 567px #fff, 190px 506px #fff,
    974px 1724px #fff, 791px 520px #fff, 1449px 305px #fff, 683px 97px #fff,
    124px 810px #fff, 392px 921px #fff, 273px 963px #fff, 684px 1512px #fff,
    1027px 1108px #fff, 1640px 363px #fff, 759px 1410px #fff, 529px 947px #fff,
    1116px 1160px #fff, 8px 1155px #fff, 614px 536px #fff, 25px 963px #fff,
    1468px 1251px #fff, 638px 307px #fff, 913px 1264px #fff, 1592px 16px #fff,
    1814px 1875px #fff, 718px 1973px #fff, 1593px 260px #fff, 801px 1700px #fff,
    755px 111px #fff, 1610px 1915px #fff, 60px 122px #fff, 1671px 913px #fff,
    1190px 26px #fff, 1763px 1173px #fff, 43px 11px #fff, 869px 825px #fff,
    1637px 1898px #fff, 654px 1688px #fff, 396px 697px #fff, 698px 105px #fff,
    1382px 1151px #fff, 1427px 1959px #fff, 60px 597px #fff, 660px 1545px #fff,
    1861px 1615px #fff, 1803px 341px #fff, 1279px 52px #fff, 708px 601px #fff,
    435px 1487px #fff, 656px 13px #fff, 370px 1964px #fff, 260px 1221px #fff,
    345px 1702px #fff, 443px 956px #fff, 1585px 1779px #fff, 697px 1872px #fff,
    887px 1786px #fff, 487px 1418px #fff, 1261px 390px #fff, 984px 663px #fff,
    695px 1343px #fff, 573px 998px #fff, 1907px 1219px #fff, 1731px 668px #fff,
    597px 1714px #fff, 1833px 346px #fff, 620px 1930px #fff, 1168px 1041px #fff,
    1080px 759px #fff, 1539px 314px #fff, 1984px 1540px #fff, 1325px 800px #fff,
    229px 1971px #fff, 1642px 390px #fff, 1970px 567px #fff, 1747px 942px #fff,
    1283px 1966px #fff, 1321px 1565px #fff, 588px 1924px #fff, 1452px 808px #fff,
    144px 191px #fff, 427px 892px #fff, 516px 770px #fff, 241px 1472px #fff,
    115px 210px #fff, 1238px 874px #fff, 898px 1338px #fff, 1921px 34px #fff,
    140px 1967px #fff, 532px 1550px #fff, 1924px 977px #fff, 1259px 1685px #fff,
    1956px 1090px #fff, 1769px 1387px #fff, 579px 752px #fff, 1113px 89px #fff,
    816px 54px #fff, 76px 1932px #fff, 194px 1464px #fff, 1604px 1198px #fff,
    1427px 878px #fff, 357px 912px #fff, 1307px 348px #fff, 1014px 1899px #fff,
    887px 1657px #fff, 1642px 966px #fff, 41px 1042px #fff, 1911px 909px #fff,
    61px 1438px #fff, 360px 1281px #fff, 1784px 1119px #fff, 1107px 879px #fff,
    1505px 1682px #fff, 1910px 1053px #fff, 925px 1452px #fff, 121px 1129px #fff,
    834px 1860px #fff, 815px 113px #fff, 90px 1013px #fff, 1215px 1917px #fff,
    629px 1263px #fff, 1107px 1641px #fff, 1764px 1017px #fff, 639px 235px #fff,
    1527px 12px #fff, 1456px 64px #fff, 1127px 721px #fff, 1046px 1684px #fff,
    539px 856px #fff, 1553px 190px #fff, 1075px 1446px #fff, 203px 839px #fff,
    412px 745px #fff, 961px 703px #fff, 1px 1711px #fff, 589px 1320px #fff,
    1999px 1465px #fff, 1381px 522px #fff, 1392px 1394px #fff, 933px 1763px #fff,
    1385px 543px #fff, 672px 10px #fff, 1662px 602px #fff, 1632px 870px #fff,
    1657px 1433px #fff, 129px 386px #fff, 76px 389px #fff, 44px 1441px #fff,
    1522px 372px #fff, 1301px 1948px #fff, 1007px 1774px #fff, 616px 468px #fff,
    1861px 642px #fff, 1286px 642px #fff, 1985px 1651px #fff, 860px 1377px #fff,
    1618px 1497px #fff, 202px 347px #fff, 1034px 980px #fff, 142px 432px #fff,
    344px 381px #fff, 1233px 1392px #fff, 1543px 1346px #fff, 340px 219px #fff,
    1833px 1921px #fff, 1894px 373px #fff, 1007px 151px #fff, 1213px 1688px #fff,
    1286px 1065px #fff, 1662px 1300px #fff, 1721px 1270px #fff, 729px 319px #fff,
    62px 1989px #fff, 1918px 754px #fff, 598px 12px #fff, 1666px 1375px #fff,
    880px 1300px #fff, 709px 1092px #fff, 1623px 61px #fff, 1747px 1803px #fff,
    1829px 397px #fff, 733px 1280px #fff, 585px 1394px #fff, 1287px 1623px #fff,
    60px 1576px #fff, 1768px 816px #fff, 1914px 1655px #fff, 1878px 1425px #fff,
    929px 598px #fff, 949px 1455px #fff, 146px 530px #fff, 1673px 1379px #fff,
    1012px 1225px #fff, 692px 1910px #fff, 583px 1442px #fff, 456px 554px #fff,
    1064px 999px #fff, 1090px 1418px #fff, 1229px 984px #fff, 1906px 1333px #fff,
    1979px 162px #fff, 129px 215px #fff, 1398px 505px #fff, 876px 1142px #fff,
    1767px 965px #fff, 243px 796px #fff, 1137px 1160px #fff, 898px 858px #fff,
    1844px 965px #fff, 420px 304px #fff, 1809px 422px #fff, 1694px 1102px #fff,
    807px 1772px #fff, 1573px 357px #fff, 1575px 330px #fff, 638px 1307px #fff,
    210px 210px #fff, 69px 1889px #fff, 528px 577px #fff, 349px 1358px #fff,
    655px 312px #fff, 273px 318px #fff, 1380px 162px #fff, 1506px 1017px #fff,
    1754px 1848px #fff, 790px 261px #fff, 1855px 924px #fff, 1832px 1948px #fff,
    138px 1934px #fff, 417px 1486px #fff, 11px 1453px #fff, 850px 1064px #fff,
    1906px 1693px #fff, 763px 1187px #fff, 935px 1886px #fff, 815px 175px #fff,
    1544px 317px #fff, 31px 719px #fff, 1548px 1948px #fff, 1772px 168px #fff,
    987px 1358px #fff, 1596px 1198px #fff, 1828px 388px #fff, 137px 1272px #fff,
    1655px 619px #fff, 761px 895px #fff, 1029px 864px #fff, 828px 2px #fff,
    844px 1370px #fff, 1287px 82px #fff, 1902px 159px #fff, 111px 1001px #fff,
    1334px 1088px #fff, 1383px 1922px #fff, 942px 825px #fff, 351px 533px #fff,
    1419px 28px #fff, 1939px 1637px #fff, 715px 173px #fff, 829px 326px #fff,
    1290px 1672px #fff, 1459px 1423px #fff, 1804px 657px #fff, 1450px 396px #fff,
    1529px 107px #fff, 641px 1183px #fff, 294px 296px #fff, 908px 737px #fff,
    377px 1045px #fff, 694px 1006px #fff, 1153px 762px #fff, 1282px 1193px #fff,
    402px 1731px #fff, 1858px 665px #fff, 1286px 1134px #fff, 891px 1932px #fff,
    1434px 871px #fff, 926px 1022px #fff, 1978px 1301px #fff, 1358px 1955px #fff,
    1400px 1841px #fff, 1795px 601px #fff, 1434px 961px #fff, 433px 762px #fff,
    987px 179px #fff, 1010px 800px #fff, 1393px 1406px #fff, 1528px 1653px #fff,
    1909px 1695px #fff, 195px 1520px #fff, 772px 1792px #fff, 1947px 1181px #fff,
    358px 1896px #fff, 1856px 1189px #fff, 1449px 1801px #fff, 553px 1519px #fff,
    1036px 480px #fff, 530px 1713px #fff, 768px 971px #fff, 1763px 258px #fff,
    1175px 637px #fff, 1408px 1828px #fff, 857px 1336px #fff, 223px 1611px #fff,
    1081px 1088px #fff, 1757px 1656px #fff, 1185px 528px #fff, 358px 1882px #fff,
    591px 928px #fff, 1423px 1796px #fff, 41px 1647px #fff, 1220px 265px #fff,
    33px 634px #fff, 1482px 1231px #fff, 1886px 557px #fff, 51px 175px #fff,
    562px 817px #fff, 196px 186px #fff, 31px 1631px #fff, 2000px 1352px #fff,
    904px 400px #fff, 352px 1058px #fff, 1432px 1448px #fff, 229px 1284px #fff,
    1703px 403px #fff, 1476px 1916px #fff, 1787px 1904px #fff,
    1286px 1234px #fff, 506px 512px #fff, 1474px 1527px #fff, 657px 558px #fff,
    225px 1284px #fff, 581px 466px #fff, 1041px 1905px #fff, 1746px 34px #fff,
    1857px 598px #fff, 1955px 400px #fff, 1169px 1411px #fff, 1096px 1492px #fff,
    1996px 1578px #fff, 972px 1049px #fff, 278px 1707px #fff, 190px 10px #fff,
    223px 868px #fff, 197px 544px #fff, 1425px 1526px #fff, 819px 1423px #fff,
    1800px 126px #fff, 161px 1069px #fff, 243px 356px #fff, 781px 921px #fff,
    162px 1468px #fff, 1916px 1930px #fff, 1502px 1690px #fff, 273px 1497px #fff,
    983px 1351px #fff, 11px 1371px #fff, 1273px 825px #fff, 1833px 564px #fff,
    1757px 1707px #fff, 852px 1355px #fff, 1290px 290px #fff, 391px 1989px #fff,
    1594px 726px #fff, 162px 835px #fff, 582px 1829px #fff, 1007px 1101px #fff,
    1668px 1615px #fff, 1947px 1882px #fff, 585px 121px #fff, 336px 1995px #fff,
    162px 855px #fff, 1691px 707px #fff, 1032px 529px #fff, 737px 439px #fff,
    1276px 1775px #fff, 1044px 1638px #fff, 1049px 87px #fff, 881px 729px #fff,
    848px 1398px #fff, 940px 1766px #fff, 68px 279px #fff, 663px 380px #fff,
    1328px 626px #fff, 534px 9px #fff, 1606px 954px #fff, 1579px 1233px #fff,
    1715px 324px #fff, 1136px 1763px #fff, 234px 82px #fff, 828px 85px #fff,
    1111px 770px #fff, 1084px 716px #fff, 96px 446px #fff, 117px 1347px #fff,
    673px 287px #fff, 1133px 800px #fff, 653px 1703px #fff, 1161px 1807px #fff,
    187px 706px #fff, 18px 1124px #fff, 619px 1792px #fff, 1070px 1675px #fff,
    1564px 1781px #fff, 1281px 703px #fff, 133px 533px #fff, 1491px 1342px #fff,
    972px 1664px #fff, 1800px 1971px #fff, 1979px 787px #fff, 1869px 368px #fff,
    792px 1940px #fff, 78px 306px #fff, 1328px 603px #fff, 1220px 1586px #fff,
    1296px 803px #fff, 914px 1902px #fff, 277px 1308px #fff, 491px 1284px #fff,
    1934px 747px #fff, 959px 613px #fff, 1090px 542px #fff, 682px 954px #fff,
    1121px 572px #fff, 1908px 121px #fff, 113px 413px #fff, 1522px 959px #fff,
    693px 1700px #fff, 1222px 1431px #fff, 1021px 1429px #fff, 1657px 67px #fff,
    1818px 58px #fff, 487px 729px #fff, 1091px 911px #fff, 1036px 476px #fff,
    1348px 800px #fff, 465px 1986px #fff, 600px 233px #fff, 617px 950px #fff,
    1110px 1698px #fff, 913px 1714px #fff, 1539px 1408px #fff,
    1417px 1096px #fff, 1056px 1236px #fff, 183px 343px #fff, 448px 722px #fff,
    463px 783px #fff, 1896px 729px #fff, 1592px 1382px #fff, 1563px 1673px #fff,
    341px 1072px #fff, 702px 1058px #fff, 656px 788px #fff, 697px 519px #fff,
    1669px 1247px #fff, 1488px 1628px #fff, 1675px 1199px #fff,
    1144px 1297px #fff, 1111px 528px #fff, 1326px 1041px #fff, 142px 1975px #fff,
    1983px 1009px #fff, 1384px 1631px #fff, 1149px 1827px #fff,
    1632px 1555px #fff, 1459px 1017px #fff, 1684px 625px #fff, 153px 30px #fff,
    879px 249px #fff, 960px 1884px #fff, 478px 667px #fff, 1255px 1474px #fff,
    28px 1841px #fff, 663px 1270px #fff, 1482px 774px #fff, 1317px 1626px #fff,
    1821px 741px #fff, 449px 418px #fff, 1668px 1121px #fff, 157px 1998px #fff,
    1245px 1642px #fff, 1166px 291px #fff, 1810px 1514px #fff, 593px 1094px #fff,
    546px 457px #fff, 1742px 1627px #fff, 820px 282px #fff, 819px 1502px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 44px 278px #fff, 36px 511px #fff, 1203px 486px #fff,
    353px 1009px #fff, 1140px 1757px #fff, 1589px 727px #fff, 1332px 1472px #fff,
    1002px 192px #fff, 1814px 190px #fff, 1959px 864px #fff, 828px 191px #fff,
    1031px 794px #fff, 1664px 1051px #fff, 1225px 1627px #fff, 1908px 23px #fff,
    132px 1185px #fff, 1446px 1746px #fff, 817px 524px #fff, 799px 844px #fff,
    1751px 118px #fff, 1191px 359px #fff, 592px 1953px #fff, 342px 1218px #fff,
    60px 114px #fff, 75px 1798px #fff, 1296px 1760px #fff, 272px 474px #fff,
    1693px 91px #fff, 539px 1507px #fff, 1600px 523px #fff, 966px 1601px #fff,
    1785px 1839px #fff, 1467px 1795px #fff, 1619px 1124px #fff,
    833px 1746px #fff, 293px 1729px #fff, 1915px 456px #fff, 1083px 1459px #fff,
    1036px 672px #fff, 1773px 595px #fff, 1534px 86px #fff, 1247px 124px #fff,
    1876px 412px #fff, 1393px 803px #fff, 1388px 1495px #fff, 1932px 577px #fff,
    1733px 1147px #fff, 248px 533px #fff, 860px 846px #fff, 506px 143px #fff,
    472px 1841px #fff, 1018px 1344px #fff, 608px 1872px #fff, 242px 67px #fff,
    567px 1725px #fff, 1229px 36px #fff, 430px 1072px #fff, 1565px 1241px #fff,
    620px 122px #fff, 428px 555px #fff, 1164px 95px #fff, 285px 364px #fff,
    1005px 1293px #fff, 1966px 35px #fff, 920px 726px #fff, 1108px 1001px #fff,
    1520px 750px #fff, 24px 1276px #fff, 875px 1030px #fff, 1762px 133px #fff,
    1298px 1824px #fff, 355px 1281px #fff, 599px 1161px #fff, 692px 984px #fff,
    987px 1516px #fff, 1742px 716px #fff, 1260px 788px #fff, 389px 1567px #fff,
    1556px 6px #fff, 1477px 958px #fff, 1327px 1890px #fff, 1824px 752px #fff,
    1724px 551px #fff, 892px 754px #fff, 1406px 1128px #fff, 549px 1317px #fff,
    850px 104px #fff, 265px 1458px #fff, 1316px 1930px #fff, 690px 967px #fff,
    1210px 1743px #fff, 818px 516px #fff, 1396px 1121px #fff, 321px 34px #fff,
    1260px 971px #fff, 1708px 1333px #fff, 1323px 1111px #fff, 1484px 562px #fff,
    1745px 89px #fff, 1664px 1839px #fff, 1877px 567px #fff, 1654px 693px #fff,
    1021px 1243px #fff, 1082px 181px #fff, 856px 1296px #fff, 36px 1420px #fff,
    824px 1570px #fff, 518px 946px #fff, 314px 1587px #fff, 579px 39px #fff,
    1388px 1811px #fff, 1087px 1718px #fff, 377px 1127px #fff, 94px 1650px #fff,
    86px 576px #fff, 1566px 668px #fff, 875px 1453px #fff, 1788px 1267px #fff,
    1985px 288px #fff, 1812px 1919px #fff, 127px 890px #fff, 597px 1411px #fff,
    901px 240px #fff, 974px 742px #fff, 1468px 509px #fff, 1529px 564px #fff,
    1661px 1081px #fff, 1112px 979px #fff, 1819px 1024px #fff,
    1046px 1562px #fff, 39px 1720px #fff, 1018px 186px #fff, 976px 1203px #fff,
    1331px 278px #fff, 729px 404px #fff, 1863px 695px #fff, 202px 1192px #fff,
    1776px 1114px #fff, 1921px 1864px #fff, 489px 1970px #fff, 1537px 702px #fff,
    332px 479px #fff, 1687px 1370px #fff, 1439px 865px #fff, 500px 1343px #fff,
    1144px 498px #fff, 540px 1350px #fff, 1203px 1344px #fff, 524px 1824px #fff,
    1601px 1046px #fff, 1076px 966px #fff, 1391px 1940px #fff, 18px 888px #fff,
    810px 997px #fff, 506px 1688px #fff, 639px 1682px #fff, 1692px 1999px #fff,
    1420px 908px #fff, 1px 16px #fff, 1530px 1248px #fff, 1083px 390px #fff,
    1754px 553px #fff, 1200px 1617px #fff, 484px 315px #fff, 1045px 346px #fff,
    344px 94px #fff, 1063px 1085px #fff, 552px 2000px #fff, 456px 1990px #fff,
    1228px 1930px #fff, 1094px 868px #fff, 19px 167px #fff, 607px 346px #fff,
    258px 1001px #fff, 1586px 689px #fff, 954px 207px #fff, 1520px 978px #fff,
    704px 1995px #fff, 233px 219px #fff, 435px 769px #fff, 1005px 1733px #fff,
    798px 297px #fff, 625px 1812px #fff, 259px 1404px #fff, 232px 138px #fff,
    1236px 114px #fff, 629px 588px #fff, 37px 871px #fff, 1246px 1999px #fff,
    1922px 52px #fff, 605px 456px #fff, 1252px 939px #fff, 195px 390px #fff,
    409px 765px #fff, 883px 501px #fff, 1140px 255px #fff, 794px 274px #fff,
    1828px 1631px #fff, 192px 755px #fff, 1709px 266px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 44px 278px #fff, 36px 511px #fff, 1203px 486px #fff,
    353px 1009px #fff, 1140px 1757px #fff, 1589px 727px #fff, 1332px 1472px #fff,
    1002px 192px #fff, 1814px 190px #fff, 1959px 864px #fff, 828px 191px #fff,
    1031px 794px #fff, 1664px 1051px #fff, 1225px 1627px #fff, 1908px 23px #fff,
    132px 1185px #fff, 1446px 1746px #fff, 817px 524px #fff, 799px 844px #fff,
    1751px 118px #fff, 1191px 359px #fff, 592px 1953px #fff, 342px 1218px #fff,
    60px 114px #fff, 75px 1798px #fff, 1296px 1760px #fff, 272px 474px #fff,
    1693px 91px #fff, 539px 1507px #fff, 1600px 523px #fff, 966px 1601px #fff,
    1785px 1839px #fff, 1467px 1795px #fff, 1619px 1124px #fff,
    833px 1746px #fff, 293px 1729px #fff, 1915px 456px #fff, 1083px 1459px #fff,
    1036px 672px #fff, 1773px 595px #fff, 1534px 86px #fff, 1247px 124px #fff,
    1876px 412px #fff, 1393px 803px #fff, 1388px 1495px #fff, 1932px 577px #fff,
    1733px 1147px #fff, 248px 533px #fff, 860px 846px #fff, 506px 143px #fff,
    472px 1841px #fff, 1018px 1344px #fff, 608px 1872px #fff, 242px 67px #fff,
    567px 1725px #fff, 1229px 36px #fff, 430px 1072px #fff, 1565px 1241px #fff,
    620px 122px #fff, 428px 555px #fff, 1164px 95px #fff, 285px 364px #fff,
    1005px 1293px #fff, 1966px 35px #fff, 920px 726px #fff, 1108px 1001px #fff,
    1520px 750px #fff, 24px 1276px #fff, 875px 1030px #fff, 1762px 133px #fff,
    1298px 1824px #fff, 355px 1281px #fff, 599px 1161px #fff, 692px 984px #fff,
    987px 1516px #fff, 1742px 716px #fff, 1260px 788px #fff, 389px 1567px #fff,
    1556px 6px #fff, 1477px 958px #fff, 1327px 1890px #fff, 1824px 752px #fff,
    1724px 551px #fff, 892px 754px #fff, 1406px 1128px #fff, 549px 1317px #fff,
    850px 104px #fff, 265px 1458px #fff, 1316px 1930px #fff, 690px 967px #fff,
    1210px 1743px #fff, 818px 516px #fff, 1396px 1121px #fff, 321px 34px #fff,
    1260px 971px #fff, 1708px 1333px #fff, 1323px 1111px #fff, 1484px 562px #fff,
    1745px 89px #fff, 1664px 1839px #fff, 1877px 567px #fff, 1654px 693px #fff,
    1021px 1243px #fff, 1082px 181px #fff, 856px 1296px #fff, 36px 1420px #fff,
    824px 1570px #fff, 518px 946px #fff, 314px 1587px #fff, 579px 39px #fff,
    1388px 1811px #fff, 1087px 1718px #fff, 377px 1127px #fff, 94px 1650px #fff,
    86px 576px #fff, 1566px 668px #fff, 875px 1453px #fff, 1788px 1267px #fff,
    1985px 288px #fff, 1812px 1919px #fff, 127px 890px #fff, 597px 1411px #fff,
    901px 240px #fff, 974px 742px #fff, 1468px 509px #fff, 1529px 564px #fff,
    1661px 1081px #fff, 1112px 979px #fff, 1819px 1024px #fff,
    1046px 1562px #fff, 39px 1720px #fff, 1018px 186px #fff, 976px 1203px #fff,
    1331px 278px #fff, 729px 404px #fff, 1863px 695px #fff, 202px 1192px #fff,
    1776px 1114px #fff, 1921px 1864px #fff, 489px 1970px #fff, 1537px 702px #fff,
    332px 479px #fff, 1687px 1370px #fff, 1439px 865px #fff, 500px 1343px #fff,
    1144px 498px #fff, 540px 1350px #fff, 1203px 1344px #fff, 524px 1824px #fff,
    1601px 1046px #fff, 1076px 966px #fff, 1391px 1940px #fff, 18px 888px #fff,
    810px 997px #fff, 506px 1688px #fff, 639px 1682px #fff, 1692px 1999px #fff,
    1420px 908px #fff, 1px 16px #fff, 1530px 1248px #fff, 1083px 390px #fff,
    1754px 553px #fff, 1200px 1617px #fff, 484px 315px #fff, 1045px 346px #fff,
    344px 94px #fff, 1063px 1085px #fff, 552px 2000px #fff, 456px 1990px #fff,
    1228px 1930px #fff, 1094px 868px #fff, 19px 167px #fff, 607px 346px #fff,
    258px 1001px #fff, 1586px 689px #fff, 954px 207px #fff, 1520px 978px #fff,
    704px 1995px #fff, 233px 219px #fff, 435px 769px #fff, 1005px 1733px #fff,
    798px 297px #fff, 625px 1812px #fff, 259px 1404px #fff, 232px 138px #fff,
    1236px 114px #fff, 629px 588px #fff, 37px 871px #fff, 1246px 1999px #fff,
    1922px 52px #fff, 605px 456px #fff, 1252px 939px #fff, 195px 390px #fff,
    409px 765px #fff, 883px 501px #fff, 1140px 255px #fff, 794px 274px #fff,
    1828px 1631px #fff, 192px 755px #fff, 1709px 266px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 707px 1434px #fff, 1009px 799px #fff, 962px 1446px #fff,
    626px 1217px #fff, 1789px 48px #fff, 1851px 173px #fff, 1397px 1202px #fff,
    881px 37px #fff, 376px 367px #fff, 1328px 1022px #fff, 1564px 1546px #fff,
    1328px 1668px #fff, 1054px 65px #fff, 1050px 569px #fff, 188px 1417px #fff,
    899px 821px #fff, 1253px 492px #fff, 1617px 1943px #fff, 1173px 1730px #fff,
    210px 683px #fff, 683px 1013px #fff, 1622px 492px #fff, 187px 1860px #fff,
    1043px 463px #fff, 771px 1961px #fff, 320px 1217px #fff, 1686px 1144px #fff,
    1212px 679px #fff, 1952px 1507px #fff, 1180px 548px #fff, 165px 1079px #fff,
    1156px 400px #fff, 1126px 1696px #fff, 1295px 658px #fff, 347px 656px #fff,
    1053px 919px #fff, 1767px 1964px #fff, 1730px 1801px #fff, 119px 1189px #fff,
    302px 1528px #fff, 317px 1074px #fff, 1341px 1903px #fff, 323px 1776px #fff,
    1131px 915px #fff, 444px 1026px #fff, 121px 223px #fff, 1952px 1383px #fff,
    1818px 1543px #fff, 741px 758px #fff, 917px 1724px #fff, 632px 54px #fff,
    1515px 1435px #fff, 1861px 749px #fff, 74px 1039px #fff, 244px 1739px #fff,
    1733px 1538px #fff, 1531px 892px #fff, 333px 886px #fff, 690px 1814px #fff,
    892px 628px #fff, 354px 583px #fff, 1387px 1889px #fff, 96px 381px #fff,
    174px 1091px #fff, 539px 174px #fff, 146px 305px #fff, 382px 1809px #fff,
    718px 165px #fff, 1577px 1853px #fff, 1205px 1015px #fff, 1853px 1475px #fff,
    626px 706px #fff, 1190px 1239px #fff, 1668px 1794px #fff, 569px 1433px #fff,
    1066px 1530px #fff, 822px 1484px #fff, 1193px 1545px #fff, 1268px 124px #fff,
    594px 795px #fff, 468px 1464px #fff, 1054px 967px #fff, 1470px 1175px #fff,
    1449px 924px #fff, 1685px 271px #fff, 492px 367px #fff, 1841px 1947px #fff,
    357px 1327px #fff, 1431px 1412px #fff, 40px 13px #fff, 551px 1511px #fff,
    1773px 1351px #fff, 482px 597px #fff, 1665px 995px #fff, 1564px 153px #fff,
    118px 63px #fff, 1813px 1604px #fff, 1461px 609px #fff, 874px 1679px #fff,
    1532px 1907px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 707px 1434px #fff, 1009px 799px #fff, 962px 1446px #fff,
    626px 1217px #fff, 1789px 48px #fff, 1851px 173px #fff, 1397px 1202px #fff,
    881px 37px #fff, 376px 367px #fff, 1328px 1022px #fff, 1564px 1546px #fff,
    1328px 1668px #fff, 1054px 65px #fff, 1050px 569px #fff, 188px 1417px #fff,
    899px 821px #fff, 1253px 492px #fff, 1617px 1943px #fff, 1173px 1730px #fff,
    210px 683px #fff, 683px 1013px #fff, 1622px 492px #fff, 187px 1860px #fff,
    1043px 463px #fff, 771px 1961px #fff, 320px 1217px #fff, 1686px 1144px #fff,
    1212px 679px #fff, 1952px 1507px #fff, 1180px 548px #fff, 165px 1079px #fff,
    1156px 400px #fff, 1126px 1696px #fff, 1295px 658px #fff, 347px 656px #fff,
    1053px 919px #fff, 1767px 1964px #fff, 1730px 1801px #fff, 119px 1189px #fff,
    302px 1528px #fff, 317px 1074px #fff, 1341px 1903px #fff, 323px 1776px #fff,
    1131px 915px #fff, 444px 1026px #fff, 121px 223px #fff, 1952px 1383px #fff,
    1818px 1543px #fff, 741px 758px #fff, 917px 1724px #fff, 632px 54px #fff,
    1515px 1435px #fff, 1861px 749px #fff, 74px 1039px #fff, 244px 1739px #fff,
    1733px 1538px #fff, 1531px 892px #fff, 333px 886px #fff, 690px 1814px #fff,
    892px 628px #fff, 354px 583px #fff, 1387px 1889px #fff, 96px 381px #fff,
    174px 1091px #fff, 539px 174px #fff, 146px 305px #fff, 382px 1809px #fff,
    718px 165px #fff, 1577px 1853px #fff, 1205px 1015px #fff, 1853px 1475px #fff,
    626px 706px #fff, 1190px 1239px #fff, 1668px 1794px #fff, 569px 1433px #fff,
    1066px 1530px #fff, 822px 1484px #fff, 1193px 1545px #fff, 1268px 124px #fff,
    594px 795px #fff, 468px 1464px #fff, 1054px 967px #fff, 1470px 1175px #fff,
    1449px 924px #fff, 1685px 271px #fff, 492px 367px #fff, 1841px 1947px #fff,
    357px 1327px #fff, 1431px 1412px #fff, 40px 13px #fff, 551px 1511px #fff,
    1773px 1351px #fff, 482px 597px #fff, 1665px 995px #fff, 1564px 153px #fff,
    118px 63px #fff, 1813px 1604px #fff, 1461px 609px #fff, 874px 1679px #fff,
    1532px 1907px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
